@font-face {
    font-family: 'IntegralCF-Bold';
    src: url('./fonts/IntegralCF-Bold.ttf') format('truetype'); 
}

@font-face {
    font-family: 'inter-light';
    src: url('./fonts/Inter_18pt-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-extralight';
    src: url('./fonts/Inter_18pt-ExtraLight.ttf') format('truetype'); 
}

@font-face {
  font-family: 'inter-extrabold';
  src: url('./fonts/Inter_18pt-ExtraBold.ttf') format('truetype'); 
}

::selection {
    background: #ffffff; /* Couleur de repli */
    color: #101010;
}

.footer{
    padding: 48px 24px;
    font-family: 'inter-extralight', sans-serif;
  }

  .footer-title{
    color: #ffffff54;
    width: max-content;
    margin-bottom: 8px;
  }

    .social-media {
      padding-top: 40px;
      margin-bottom: -40px;
    }

  .social-media a{
    color: #ffffff;
    font-size: 30px;
  }

  .linkedin {
    font-size: 48px;
    margin-left: 0px;
    color: #000; /* Couleur par défaut du texte */
    position: relative;
}

.linkedin:hover {
    color: #0A66C3; /* Couleur du texte au survol */
}

.linkedin:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 5px); 
    height: calc(100% - 12px); ;
    background: white;
    transform: translate(-50%, -50%);
    z-index: -1; 
}

  .insta{
    margin-left: 20px;
  }

  .insta:hover{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .git{
    margin-right: 10px;
  }

  .git:hover{
    color: rgb(157, 157, 157);
  }

  .license{
    width: 60%;
  }
  
  .footer-flex{
    margin-top: 50px;
    flex-wrap: wrap;
    width: 70%;
    display: flex;
    gap: 40px;
  }
  .footer-lastline{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 80px;
    color: white;
  
  }
  .footer-lastline a{
    color: white;
  
  }

  
  .footer-BigText{
    font-size: 7vw;
  }
  .footer-firstLine{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
  
  }
  .footer-firstLine h3{
    margin-bottom: -20px;

    position: relative;
    top: 25px;
    color: #ffffff;
  }

  .footer-paragraphe{
    color: rgba(255, 255, 255, 0.615); 
}

  footer p{
    color: rgba(255, 255, 255, 0.615); 
  
}

.button-flex{
    display: flex;
    font-size: 20px;
  }

.fleche i{
    border: 1px solid #ffffff;
    padding: 10px 13px;
    border-radius: 200px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.fleche i:hover{
  background-color: white;
  color: #070707;
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.2);
}




