@font-face {
    font-family: 'IntegralCF-Bold';
    src: url('./fonts/IntegralCF-Bold.ttf') format('truetype'); /* Assurez-vous que le chemin est correct */
}

@font-face {
    font-family: 'inter-light';
    src: url('./fonts/Inter_18pt-Light.ttf') format('truetype'); /* Assurez-vous que le chemin est correct */
}

@font-face {
    font-family: 'inter-extralight';
    src: url('./fonts/Inter_18pt-ExtraLight.ttf') format('truetype'); /* Assurez-vous que le chemin est correct */
}

@font-face {
  font-family: 'inter-extrabold';
  src: url('./fonts/Inter_18pt-ExtraBold.ttf') format('truetype'); /* Assurez-vous que le chemin est correct */
}

@font-face {
  font-family: 'DMserifText-Regular';
  src: url('./fonts/DMSerifText-Regular.ttf') format('truetype'); /* Assurez-vous que le chemin est correct */
}

@font-face {
  font-family: 'DMserifText-Italic';
  src: url('./fonts/DMSerifText-Italic.ttf') format('truetype'); /* Assurez-vous que le chemin est correct */
}

body {
    margin: 0;
  }
  
  main {
    padding-top: 60px;
  }
  



.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  text-align: center;
  position: relative; 
}

.job {
    
  position: relative;
  margin-top: 200px;
}

.job p {
  margin: 0; /* Supprime les marges par défaut du paragraphe */
  font-family: 'inter-extralight', sans-serif; /* Utilise la police souhaitée */
  color: rgba(255, 255, 255, 0.615); /* Couleur du texte */
  font-size: 2.5vw; /* Ajuste la taille du texte selon tes besoins */
}






.blinking-dot {
  position: absolute;
  left: -30px; /* Ajuste la position du cercle */
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: blink 2s infinite; /* Animation de clignotement */
  scale: 1.2;
}

/* Cercle animé derrière */
.blinking-dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(0.5);
  animation: pulse 2s infinite; /* Animation de pulsation */
}

/* Animation de pulsation */
@keyframes pulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.2;
  }
}




.domaine {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
  overflow: hidden;
}

.typing-effect {
  font-family: 'Inter-extrabold', sans-serif;
  background: linear-gradient(20deg, #181721, #ffffff); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 10vw;
  border-right: 2px solid; /* Curseur de la machine à écrire */
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 850px){
  .typing-effect {
    font-size: 11vw;
}

.job p {
  font-size: 4vw;
}
}

/* Animation de clignotement du curseur */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typing-effect {
  animation: blink-caret 0.75s step-end infinite;
}


.big-title{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9vw;
  font-family: 'Inter-extrabold', sans-serif;
  color: white;
  background-color: black;
  height: 100vh;
  width: 100vw;
  z-index: 10000000;
  opacity: 1;
}

.animated-title span {
  opacity: 0;
  animation: typing 0.3s forwards;
}


@keyframes typing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated-title span:nth-child(1) {
  animation-delay: 0.1s;
}

.animated-title span:nth-child(2) {
  animation-delay: 0.4s;
}

.animated-title span:nth-child(3) {
  animation-delay: 0.7s;
}

.animated-title span:nth-child(4) {
  animation-delay: 1s;
}

.animated-title span:nth-child(5) {
  animation-delay: 1.3s;
}
.animated-title span:nth-child(6) {
  animation-delay: 1.6s;
}
.animated-title span:nth-child(7) {
  animation-delay: 1.9s;
}







@keyframes slideInFromLeft {
  from {
    opacity: 0.7;
    transform: translateX(-400%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0.7;
    transform: translateX(400%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-400%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom2 {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideToTop {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100%;
    opacity: 1;
  }
}

@keyframes rotation90toRight {
  from {
    rotate: 90%;
  }
  to {
    rotate: -90%;
  }
}







